/* ForgotPasswordPage.css */
.forgot-password-page-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20vh; /* Adjust the margin from the top to center vertically */
  }
  
  .forgot-password-form {
    margin-top: 20px;
  }
  
  .form-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  