/* GymActivity.css */

.GymActivity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right:20px;
  font-family: 'Roboto', sans-serif; /* Modern, clean font */
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #f5f5f5; /* Light grey background for a softer look */
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add shadows for depth */
}
.notification-bubble {
  position: relative;
  width: 400px;
  height: 100px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #484444;
  color: white;
  top: -120px; /* Adjust the top position */
}

.notification-text {
  font-size: 18px;
}

.notification-count {
  font-size: 24px;
}

.chart-wrapper-weekly {
  width: calc(50% - 20px); /* Adjusted width for two charts with margin */
  border: 2px solid #ccc; /* Border color */
  border-radius: 15px; /* Rounded edges */
  margin-bottom: 20px;
  overflow: hidden; /* Ensure chart doesn't overflow border */
}

.chart-wrapper-daily {
  width: calc(65% - 20px); /* Adjusted width for two charts with margin */
  border: 2px solid #ccc; /* Border color */
  border-radius: 15px; /* Rounded edges */
  margin-bottom: 20px;
  overflow: hidden; /* Ensure chart doesn't overflow border */
}

.NotificationsTable {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: auto; /* Enable scrolling */
  max-height: calc(3 * 60px + 1px); /* Set maximum height for 3 notifications */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add shadows for depth */
}

.NotificationsTable h2 {
  font-size: 20px;
  margin: 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px 10px 0 0;
}

.NotificationsTable table {
  width: 100%;
  border-collapse: collapse;
}

.NotificationsTable th,
.NotificationsTable td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.NotificationsTable tbody tr:hover {
  background-color: #f9f9f9;
}
