/* UserTable.css */
.user-table {
  width: 90%; 
  border-collapse: collapse;
  margin: 20px auto; /* Center the table and add some margin */
}

.user-table th,
.user-table td {
  padding: 12px; /* Increase padding for a more spacious look */
  text-align: left;
  border-bottom: 1px solid #ccc; /* Faint grey line separating rows */
}

.user-table th {
  background-color: #333; /* Dark background for a sleek look */
  color: #fff; /* White text for contrast */
}

.search-container {
  display: flex;
  justify-content: flex-end;
}

.search-input {
  padding: 10px;
  width: 200px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 0px; /* Add some space below the input */
  margin-right:80px;
}



.new-user-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px; /* Roundish corners */
  background-color: #007bff; /* Blue color */
  color: #fff; /* White text */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
  margin-top: 10px; /* Adjust margin-top as needed */
}

.new-user-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #0056b3;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:-30px;
}

.header-container h2{
  margin-left:80px;
}

.user-table button {
  padding: 8px 12px; /* Adjust padding */
  border: none;
  border-radius: 4px; /* Round corners */
  background-color: #4CAF50; /* Green color */
  color: white; /* White text */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.user-table button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.new-user-button {
  padding: 10px 20px; 
  border: none;
  border-radius: 5px; /* Roundish corners */
  background-color: #007bff; /* Blue color */
  color: #fff; /* White text */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
  margin-right: 10px; /* Adjust margin-right as needed */
}

.new-user-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}