/* General styles */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}


/* Main content styles */
.main-content {
  transition: margin-left 0.3s ease; /* Add transition for margin-left */
  margin-left: 80px;
}

.side-panel-opened .main-content {
  margin-left: 230px;
}

/* Header styles */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Link styles */
.App-link {
  color: #61dafb;
}

/* Animation styles */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



